

body{
    margin: 0;
    padding: 0;
}

.bg-hero {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-section {
    background: #0c172b;  /* fallback for old browsers */
    color: white;
}

.text-brand{
    color:orange;
}

.contact-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-list li {
    margin: 12px;
}
.contact-list li i {
    color: orange;
}

section {
    padding: 10px;
}

section .title {
    color: orange;
    text-transform: uppercase;
    word-spacing: 1px;
    margin-top: 30px;;
}

.summary {
    background: #0c172b;  /* fallback for old browsers */
    color: white;
}

.summary .list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.summary .list li {
    margin: 12px auto;
    font-size: large;
    border-left: 2px solid rgb(211, 169, 91);
    display: inline;
    padding: 0 15px;
    transition: all .7s ease-in-out;

}

.summary .list:hover li{
    display: block;
    padding: 0;
}

.summary .list:hover li{
    display: block;
}
.summary .list li i{
    color: #6c757d!important;
    display: none;
    transition: all .7s ease-in-out;
}

.summary .list:hover li i{
    display: inline;
}
